

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@700&family=Bebas+Neue&family=Gabarito:wght@400;500&family=Libre+Caslon+Text&family=Montserrat:wght@100&family=Mulish:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav {
position: relative;
position: fixed;
top: 0;
z-index: 2;
width: 100%;
}

header .black-nav{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
}
.black-nav p{
    color: white;
    font-family: 'Gabarito', cursive;
    cursor: pointer;
    
}
.black-nav  .one{
  margin-left: 530px;
  font-weight: 1000px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Gabarito', cursive;
  cursor: pointer;
}
.black-nav  .two{
    margin-right: -500px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Gabarito';
    cursor: pointer;
    
}
.black-nav img{
    margin-right: 22px;
    height: 25px;
    width: 25px;
}


header .container{
    
    display: flex;
    width: 100%;
    height: 90px;
    background-color:whitesmoke;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.4px solid;

    
    
}
.container ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.container .logo img{
    width: 165px;
    height: 52;
    cursor: pointer;

}
.logo li{
    
    margin: 26px;
}

.container .right img{
    width: 25px;
    height: 24px;
    cursor: pointer;
}

.container .right .lovenav{
    width: 38px;
    height: 42px;
}
.container .right {
   
    gap: 20px;
  
}
.logo span{
    
    font-size: 12.5px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .5px;
    font-weight: bolder;
    cursor: pointer;
    
}


/* underlning lists on nav */

 .ones:hover{
padding-bottom: 18px;
    border-bottom-style:  solid ;
    border-width: 5px;
    border-color: black;
}


section .levis img{
height: 622px;
    width: 100%;
    margin-top:130px;
 
}


section .second-featuring img{
    
    width: 100%;
   

}



section img {
    margin: 0;
    padding: 0;
    display: block; 
}
 section .third-feature img{
    width: 100%;
 }

section .slide{
    
    width: 100%;
    
   background-image: url(./img/product-bg.jpg);
    height: 550px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-left: 95px;
}


.main-card{
    height: 375px;
    width:265px;
    background-color:white;
    position: relative;
    margin-left: 10px;
   
    
}

.main-card img {
    padding-left: 30px;
    width: 245px;
    height: 235px;
    z-index: 0;
    
}
.fa{
    position: absolute;
  
    color: rgb(95, 90, 90);
    left: 9px;
    top: 8px;
    cursor: pointer;
    
    
    
}
.fa:hover{
    color: #52b640;
    cursor: pointer;
}
.h3h{
position: absolute;
font-size: 17px;

font-family: 'Gabarito', cursive;
font-weight: 900;
right: 0;
top: 20px;
margin-right: 7px;


}


.main-card p{
    margin-left: 13px;
    color: black;
  
}
.main-card .maint{
    font-size: 15px;
    font-weight: 550;
    font-family: 'Mulish', sans-serif;

}
.main-card .maint2{
    font-size: 15px;
    font-weight: 550;
    margin-top: 3px;
    font-family: 'Mulish', sans-serif;
}
.rupe{
padding-top: 11px;
font-size: 20px;

font-family: 'Gabarito', cursive;
font-weight: bolder;
}
.main-card .color{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  
}
.circle{
    margin-top: 21px;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  cursor: pointer;
    margin-left: 13px;
    
}
.circcle{
    margin-top: -21px;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  cursor: pointer;
    margin-left: 40px;
}
.circccle{
    margin-top: -20px;
    height: 20px;
    width: 20px;
    background-color:rgb(17, 17, 97);
    border-radius: 50%;
    display: inline-block;
  cursor: pointer;
    margin-left: 40px;
}

  .i{
    position: absolute;
    
    margin-top: -460px;
    margin-right: 89px;
  margin-left: 400px;
    z-index: 1;
    font-size: 37px;
    
letter-spacing: 10px;
font-family: 'Anton', sans-serif;


}

section .fourth-hero img{
    width: 100%;
}
.fifth img{
    width: 100%;
}
.slide-g img{
    height: 294.5px;
    width: 274.5px;
    flex-grow: 1;
    margin-right: 1px;
    margin-top: 2px;
  
}
.slide-g{
   display:flex ;
  
  
   
background-color: black;
}
.head-1{

    height: 90px;
 
}
.head-1 .green{
    
   
display: inline-block;
  border: solid;
  border-width: 1px;
  border-color:green;
  margin-left: 530px;
  margin-top: 24px;
  border-width: 2px;
  margin-bottom: 6px;

}
.green h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    letter-spacing: 0.63px;
   
    font-weight: 1000px;
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom:4px;
    letter-spacing: 3px;
}
.card{
   

  border: solid;
  border-width: 09px;
  border-color:	#F0F0F0;
  margin-right: 6px;
  margin-bottom: 6px;
  flex-grow: 1;


}
.card img{
    margin: 13px 13px ;
    height: 400px;
    width: 389px;
    
    
    
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    
    
}
.white{
    height: 40px;
    width: 100%;
}
.text-love h2{
color: black;
margin-left: 530px;
font-size: 36px;
letter-spacing: 1px;
padding-top: 14px;

}
.text-love{

    background-color: 	#F0F0F0;
}
.slide-div2{
    height: 450px;
    width: 100%;
    background-color: #F0F0F0;
}
.last{
    height: 240px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  display: flex;
  flex-direction: column;
 
   align-items: center;

}
.last button{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #333333;
    height: 60px;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    align-items: center;
 margin-top: 20px;
 cursor: pointer;
}
 
    

.last button span{
    font-size: 15px;
    letter-spacing: 0.54px;
    line-height: 22px;
    letter-spacing: 1.5px;
    
   display: flex;
   margin-top: 6px;


}
.arrow  {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 580px;
    margin-bottom: 20px;
    margin-top: -33px;
  
}
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.white{
    height: 100px;
    background-color: white;
}
.top-footer-container{
    height: 200px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    
}
.truck-card{
    margin-top: 15px;
    height: 220;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.truck-card img{
    
    width: 30px;
    height: 40px;
}

.truck-card strong{
    margin: 10px 0;
margin-top: 12px;
    font-size: 14px;
    
    text-align: center;
    letter-spacing: 1.5px;
font-weight: 500;
    font-family: 'Gabarito', cursive;
}
.truck-card p{
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: black;

    
}

.main-footer{
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
.main-footer h4,p,a{
    color: white;
    font-size: 9.9px;
    letter-spacing: 1px;
    
    font-family: 'Mulish', sans-serif;
    
    
}
  .footer-1,.footer-2,.footer-3,.footer-4  {
    cursor: pointer;
}
a{
border-bottom: 1px solid;
cursor: pointer;
font-family:  sans-serif;
font-size: 14px;
font-weight: bolder;
letter-spacing: 1.4px;
}
.foot{
   margin-top: 40px;
    margin-left: 15px;
    margin-right: 30px;
}
.main-footer ul h4{
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 0;
    font-family: sans-serif;
   
    
}
.main-footer ul li {
    padding: 2.4px;
}
.footer-under{
    margin-top: 1px;
    background-color: black;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foooter-under p{
    color: white;
}
.footer-under .leffff ul{
display: flex;
margin-right: 50px;
list-style: none;


}
.footer-under .leffff ul p{
margin-left: 2px;
margin-right: 5px;
margin-right: 6px;
margin-left: 10px;
cursor: pointer;
}
.footer-under  .right-f{
    margin-left: 13px;
}
.card-sliding2{
    height: 400px;
    width: 19%;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.card-sliding2 img{
    width:247px;
    height: 280px;
    object-fit: contain;
}
.card-sliding2 .btn{
    display: flex;
    margin-top: 16px;
    
    justify-content:center;
}

.btn button{
    padding: 11px 46px;
    background-color: black;
    border-style: none;
    color: white;
    font-family: 'Gabarito', cursive;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}
.card-sliding2 .price-name{
    color: black;
    font-weight: 900;
    margin-left: 7px;
    font-size: 13.5px;
}

 
.card-sliding2 .before-off{
    color: black;
    font-family:  sans-serif;
    font-size: 12px;
    margin-left: 7px;
    font-weight: 900;
    
}
.card-sliding2 .off{
    line-height: 1px;
    font-size: 13px ;
  margin-top: 16px;
    font-family:  sans-serif;;
    color: rgb(237, 18, 18);
    font-weight: 900;
}
.slide-div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.socialmedia img{
  
    border: none;

    height: 60px;
    width: 150px;
}
.socialmedia{
    margin-top: 6px;
margin-left: -2px;
list-style: none;
column-gap: px;
cursor: pointer;

}
